body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

header img {
    padding: 20px;
    margin-right: auto;
    max-width: 25%;
}

header h1 {
    margin: 0;
    color: white;
    display: inline-block;
    flex: 1;
}

main {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

main div {
    background-color: orange;
    margin: 10px;
    padding: 5px;
}

main #nextQuestion {
    border: 1px solid;
    width: 60%;
    max-width: 720px;
}

main #issues {
    border: 1px solid;
    width: 40%;
    max-width: 480px;
}

@media screen and (max-width: 700px) {
    main {
        padding: 5px;
        display: block;
    }
    main div {
        margin: 0;
        padding: 0;
    }
    main #nextQuestion {
        width: 100%;
        margin-bottom: 5px;
        max-width: 100%;
    }
    main #issues {
        width: 100%;
        max-width: 100%;
    }
}

main div ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
}

main div ul li {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    width: 100%;
}

main div ul li button {
    background-color: gainsboro;
    width: 100%;
    height: 60px;
    cursor: pointer;
}